.home{
  position: absolute;
  top: .9rem;
  left: 0;
  width: 100%;
  bottom: 0;
  font-size: .28rem;
}
.home li{
  padding: .26rem .2rem;
  border-bottom: 1Px solid #ddd;
  text-align: left;
  line-height: normal;
}
.mint-tab-container{
  margin-top: 50px;
  margin-bottom: 60px;
}
.mint-header{
  background-color: #474b54;
}
.box_collection{
  overflow: hidden;
  padding: 0 10px;
}
.no_data_line{
  height: 40px;
  line-height: 40px;
  text-align: center;
  font-size: 18px;
  color: #fff;
}
.mint-popup-bottom{
  width: 100%;
}
.pic_title{
  height: 44px;
  line-height: 44px;
  border-bottom: 1px solid #eee;
  text-align: center;
  color: #333;
  position: relative;
}
.pic_close{
  position: absolute;
  right: 10px;
  top: 0;
  height: 100%;
  width: auto;
  color: #26a2ff;
  font-size: 14px;
}
.lc_cell{
  height: 44px;
  line-height: 44px;
  padding: 0 10px;
  background-color: #fff;
  color: #333;
}
.lc_cell .name{
  float: left;
}
.lc_cell .value{
  float: right;
  color: #999;
}
/*第三个界面*/
.submit_btn{
  margin-top: 60px;
  padding: 0 5%;
}
